<main class="content">
    <img class="content__logo" src="/logo.png" alt="Logo">

    <h1>New Melonly Project</h1>
</main>

<footer class="footer">
    <div class="footer__tile">
        <p class="footer__header">Information</p>

        <span>PHP {{ PHP_VERSION }}</span>
        <span>Melonly v{{ MELONLY_VERSION }}</span>
    </div>

    <div class="footer__tile">
        <p class="footer__header">Documentation</p>

        <a class="link" href="https://github.com/Doc077/melonly-php/blob/7.x/README.md" target="_blank">Melonly Documentation</a>
    </div>
</footer>
