<header>
    <nav class="nav">
        <MenuLogo />

        <div class="nav__section">
            [if Auth::logged()]
                <a class="link" href="/logout">Log out</a>

                [else]
                    <a class="link" href="/login">Log in</a>
            [endif]

            <a class="link" href="https://github.com/Doc077/melonly" target="_blank">GitHub</a>

            <a class="link" href="https://github.com/Doc077/melonly/blob/7.x/README.md" target="_blank">Documentation</a>
        </div>
    </nav>
</header>
