<?php

namespace Tests\Feature;

use Melonly\Testing\TestCase;

class {{ class }} extends TestCase {
    /**
     * Feature test example.
     */
    public function some_feature_test() {
        $variable = true;

        $this->assertTrue($variable);
    }
}
