<?php

namespace App\Tests\Feature;

use Melonly\Testing\TestCase;

class {{ class }} extends TestCase {
    public function feature_test_example(): void {
        $variable = true;

        $this->assertTrue($variable);
    }
}
