<?php

namespace Tests\Feature;

use Melonly\Testing\TestCase;

class {{ class }} extends TestCase {
    public function feature_test_example() {
        $variable = true;

        $this->assertTrue($variable);
    }
}
