<?php

namespace Tests\Unit;

use Melonly\Testing\TestCase;

class {{ class }} extends TestCase {
    /**
     * Unit test example.
     */
    public function some_unit_test() {
        $variable = true;

        $this->assertTrue($variable);
    }
}
