<?php

namespace Tests\Unit;

use Melonly\Testing\TestCase;

class {{ class }} extends TestCase {
    public function unit_test_example() {
        $variable = true;

        $this->assertTrue($variable);
    }
}
